/* Colours

### Primary

- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)

*/

/*--------------------------------------------------------------
Accessibility: taken from https://www.linkedin.com/learning/css-advanced-layouts-with-grid
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* CSS reset template adapted from https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8274400#overview & https://www.linkedin.com/learning/css-advanced-layouts-with-grid */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  color: hsl(245, 6%, 54%);
  background-color: hsl(26, 100%, 99%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Fraunces, serif;
  color: hsl(214, 24%, 19%);
  clear: both;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  display: inline-block;
  font-family: "Courier 10 Pitch", Courier, monospace;
  color: #ddca7e;
  background: #282c34;
  padding: .5em .8em;
  border-radius: .2em;
}

code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

/* Global styles */

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1,
h2,
h3 {
  padding: 1em 0;
}

h2 {
  font-size: 2.1rem;
  font-weight: 900;
  line-height: 1.15;
  padding: 1rem 0 1.33rem;
  position: relative;
}

p {
  margin-bottom: 2.2rem;
  line-height: 1.7;
  color: hsl(260, 5%, 65%);
  padding-left: .5rem;
  padding-right: .5rem;
}

a {
  text-decoration: none;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/* Pseudo-element selector workaround to handle fixed navbar encroaching into anchor link areas - as suggested here: https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors */
:target::before {
  content: "";
  display: block;
  height: 4.75rem;
  /* fixed header height*/
  margin: -4.75rem 0 0;
  /* negative fixed header height */
}

/* Buttons */

.btn {
  padding: 1rem 1.85rem;
  text-transform: uppercase;
  font-family: Fraunces, serif;
  color: hsl(214, 24%, 19%);
  font-size: .95rem;
  border-radius: 5rem;
  font-weight: 900;
  letter-spacing: -.0125rem;
}

.btn-contact {
  background-color: hsl(51, 100%, 49%);
  color: hsl(214, 24%, 19%);
}

/* Navbar */

.navbar {
  background-color: hsl(200, 100%, 62%);
  width: 100%;
  color: hsl(0, 0%, 100%);
  padding: 1.75rem 1.25rem;
  position: relative;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logo {
  width: 7.5rem;
}

.navbar-toggler {
  position: absolute;
  top: 1.75rem;
  right: 1.25rem;
  border: none;
}

.navbar-toggler-icon {
  width: 1.75rem;
  height: 1.25rem;
  color: hsl(26, 100%, 99%);
  background-color: hsl(200, 100%, 62%);
}

.triangle {
  width: 0;
  height: 0;
}

.triangle-left {
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 1.5rem solid hsl(26, 100%, 99%);
  position: absolute;
  top: 4.475rem;
  left: calc(100% + 88.25vw);
}

.navbar-nav {
  list-style-type: none;
  background-color: hsl(26, 100%, 99%);
  text-align: center;
  padding: 1rem .5rem 1.5rem;
  position: absolute;
  top: 6rem;
  height: 44vh;
  left: 100%;
  display: block;
  width: calc(100% - 2.5rem);
}

.triangle-left,
.navbar-nav {
  transition: all .25s;
}

.navbar-nav.show {
  left: 1.25rem;
}

.triangle-left.show {
  left: 88.25vw;
}

.nav-item:not(.nav-item-contact) {
  margin: 1.625rem 0;
}

.nav-item-contact {
  margin: 2.25rem 0;
}

.nav-link:not(.btn) {
  color: hsl(260, 5%, 65%);
  width: 100%;
  height: 100%;
  display: block;
}

/* Header */

header {
  height: 79vh;
  background-image: url(../images/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.heading-slogan {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  letter-spacing: .35rem;
  padding-top: 31.5%;
  line-height: 1.25;
}

.arrow-box {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* About section */

.about-section-image {
  height: 47.5vh;
  background-size: cover;
  background-position: center;
}

.brand-image {
  background-image: url(../images/image-transform.jpg);
}

.audience-image {
  background-image: url(../images/image-stand-out.jpg);
}

.about-section-text {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem 2rem;
  position: relative;
}

.learn-more {
  font-family: Fraunces, serif;
  color: hsl(214, 24%, 19%);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .025rem;
  font-weight: 900;
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
  padding-left: .33rem;
  padding-right: .33rem;
}

.brand-text .learn-more {
  background-image: linear-gradient(90deg, hsla(51, 100%, 49%, .25), hsla(51, 100%, 49%, .25));
}

.audience-text .learn-more {
  background-image: linear-gradient(90deg, hsla(7, 99%, 70%, .25), hsla(7, 99%, 70%, .25));
}