/* Colours

### Primary

- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)

*/

/*--------------------------------------------------------------
Accessibility: taken from https://www.linkedin.com/learning/css-advanced-layouts-with-grid
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(.0625rem, .0625rem, .0625rem, .0625rem);
  position: absolute !important;
  height: .0625rem;
  width: .0625rem;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: hsl(0, 0%, 95%);
  border-radius: .1875rem;
  box-shadow: 0 0 .125rem .125rem rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: hsl(199, 65%, 37%);
  display: block;
  font-size: .875rem;
  font-weight: bold;
  height: auto;
  left: .3125rem;
  line-height: normal;
  padding: .9375rem 1.4375rem .875rem;
  text-decoration: none;
  top: .3125rem;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* CSS reset template adapted from https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8274400#overview & https://www.linkedin.com/learning/css-advanced-layouts-with-grid */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  color: hsl(245, 6%, 54%);
  background-color: hsl(26, 100%, 99%);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Fraunces, serif;
  color: hsl(214, 24%, 19%);
  clear: both;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.66rem;
  line-height: 1.8;
  margin-bottom: 1.125rem;
  font-size: 1.1rem;
}

address {
  margin: 0 0 1.5em;
}

pre {
  display: inline-block;
  font-family: "Courier 10 Pitch", Courier, monospace;
  color: hsl(48, 58%, 68%);
  background: hsl(220, 13%, 18%);
  padding: .5em .8em;
  border-radius: .2em;
}

code,
kbd,
tt,
var {
  font: .9375rem Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: .0625rem dotted #666;
  cursor: help;
}

mark,
ins {
  background: hsl(54, 100%, 88%);
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

/* Global styles */

h1,
h3,
h4 {
  text-align: center;
  padding: 1em 0;
  margin: 0;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-weight: 900;
  font-size: .975rem;
  margin-top: 3.75rem;
  padding-bottom: 1.5rem;
}

h5 {
  font-size: 1.1rem;
  letter-spacing: .0175rem;
}

h4,
h6 {
  color: hsl(260, 5%, 65%);
}

h6 {
  font-size: .9rem;
}

h2,
h3,
h5 {
  font-weight: 900;
  line-height: 1.15;
  padding: 1rem 0 1.33rem;
  position: relative;
}

p {
  margin-bottom: 2.2rem;
  line-height: 1.7;
  color: hsl(260, 5%, 65%);
  padding-left: .5rem;
  padding-right: .5rem;
}

a {
  text-decoration: none;
}

img:not(.profiler, .logo, .logo-cyan) {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

/* Pseudo-element selector workaround to handle fixed navbar encroaching into anchor link areas - as suggested here: https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors */
:target::before {
  content: "";
  display: block;
  height: 4.15rem;
  /* fixed header height*/
  margin: -4.15rem 0 0;
  /* negative fixed header height */
}

/* Buttons */

.btn {
  padding: 1rem 1.85rem;
  text-transform: uppercase;
  font-family: Fraunces, serif;
  color: hsl(214, 24%, 19%);
  font-size: .95rem;
  border-radius: 5rem;
  font-weight: 900;
  letter-spacing: -.0125rem;
}

.btn-contact {
  background-color: hsl(51, 100%, 49%);
  color: hsl(214, 24%, 19%);
}

/* Navbar */

.navbar {
  background-color: hsl(200, 100%, 62%);
  width: 100%;
  color: hsl(0, 0%, 100%);
  padding: 1.375rem 1.25rem;
  position: relative;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 4.25rem;
}

.logo {
  width: 7.5rem;
}

.navbar-toggler {
  position: absolute;
  top: 1.5rem;
  right: 1.25rem;
  border: none;
}

.navbar-toggler-icon {
  width: 1.75rem;
  height: 1.25rem;
  color: hsl(26, 100%, 99%);
  background-color: hsl(200, 100%, 62%);
}

.triangle {
  width: 0;
  height: 0;
}

.triangle-left {
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 1.5rem solid hsl(0, 0%, 96%);
  position: absolute;
  right: 0;
  top: -1.35rem;
}

.navbar-nav {
  background-color: hsl(0, 0%, 96%);
  text-align: center;
  padding: 2rem .5rem 1.5rem;
  position: absolute;
  top: 4.25rem;
  height: 48vh;
  left: 100%;
  display: block;
  width: calc(100% - 2.5rem);
  box-shadow: 0 .25rem .25rem .25rem rgba(164, 161, 170, .25);
  -webkit-box-shadow: 0 .25rem .25rem .25rem rgba(164, 161, 170, .25);
  -moz-box-shadow: 0 .25rem .25rem .25rem rgba(164, 161, 170, .25);
}

.navbar-nav,
.footer-nav,
.footer-nav-social {
  list-style-type: none;
}

.triangle-left,
.navbar-nav {
  transition: all .25s;
}

.navbar-nav.show {
  left: 1.25rem;
}

.nav-item:not(.nav-item-contact) {
  margin: 1.625rem 0;
}

.nav-item-contact {
  margin: 2.25rem 0;
}

.nav-link:not(.btn) {
  color: hsl(260, 5%, 65%);
  width: 100%;
  height: 100%;
  display: block;
}

/* Header */

header {
  height: 79vh;
  background-image: url(../images/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.heading-slogan {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  letter-spacing: .35rem;
  padding-top: 31.5%;
  line-height: 1.25;
}

.arrow-box {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main */

/* About section */

.about-section-image {
  height: 47.5vh;
  background-size: cover;
  background-position: center;
}

.brand-image {
  background-image: url(../images/image-transform.jpg);
}

.audience-image {
  background-image: url(../images/image-stand-out.jpg);
}

.about-section-text {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem 2rem;
  position: relative;
}

.learn-more {
  font-family: Fraunces, serif;
  color: hsl(214, 24%, 19%);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .025rem;
  font-weight: 900;
  background-position: bottom;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  padding-left: .33rem;
  padding-right: .33rem;
}

/* custom text underline code block adapted from https://plantpot.works/2793 */

.brand-text .learn-more {
  background-image: linear-gradient(90deg, hsla(51, 100%, 49%, .25), hsla(51, 100%, 49%, .25));
}

.audience-text .learn-more {
  background-image: linear-gradient(90deg, hsla(7, 99%, 70%, .25), hsla(7, 99%, 70%, .25));
}

/* Services section */

.services-section {
  position: relative;
}

.services-section-image {
  height: calc(100vh - 4.15rem);
  background-size: cover;
  background-position: center;
}

.design-image {
  background-image: url(../images/image-graphic-design.jpg);
}

.photog-image {
  background-image: url(../images/image-photography.jpg);
}

.services-section-text {
  position: absolute;
  bottom: 3.5vh;
  left: 0;
  text-align: center;
}

.services-section-text p {
  font-size: 1rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

.design-text p,
.design-text h3 {
  color: hsl(167, 40%, 24%);
}

.photog-text p,
.photog-text h3 {
  color: hsl(198, 62%, 26%);
}

/* Client Testimonials section */

#clients {
  padding-bottom: 2.75rem;
}

figure {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.profiler {
  border-radius: 50%;
  margin-bottom: 2.25rem;
}

.client {
  padding-bottom: .75rem;
}

/* Image gallery */

#gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-section {
  width: 50vw;
  height: 50vw;
  max-height: 15rem;
  background-size: cover;
  background-position: center;
}

.gallery-section:first-of-type {
  background-image: url(../images/image-gallery-milkbottles.jpg);
}

.gallery-section:nth-of-type(2) {
  background-image: url(../images/image-gallery-orange.jpg);
}

.gallery-section:nth-of-type(3) {
  background-image: url(../images/image-gallery-cone.jpg);
}

.gallery-section:nth-of-type(4) {
  background-image: url(../images/image-gallery-sugar-cubes.jpg);
}

/* Footer */

/* Attribution notes */

footer {
  height: 60vh;
  background-color: hsl(167, 44%, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.footer-logo {
  margin-bottom: 1rem;
  position: relative;
  top: -2rem;
}

.logo-cyan {
  width: 11rem;
}

.footer-nav,
.footer-nav-social {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer-nav {
  width: 80%;
  margin-bottom: 1rem;
  top: -2.25rem;
}

.footer-nav-social {
  width: 44%;
  top: -1.75rem;
}

.footer-nav .nav-link,
.footer-nav-social .nav-link {
  color: hsl(168, 34%, 41%);
  font-size: 1.025rem;
}

.twitter {
  position: relative;
  top: .125rem;
}

.attribution {
  font-size: .75rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: hsl(168, 34%, 41%);
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.attribution p {
  margin-bottom: 0;
}

.attribution a {
  color: #fff;
}