/* 10/08/21: Colours & fonts (etc.) to be refactored at a later date using CSS Variables

Colours

### Primary

- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)

*/

/*--------------------------------------------------------------
Accessibility: taken from https://www.linkedin.com/learning/css-advanced-layouts-with-grid
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(.0625rem, .0625rem, .0625rem, .0625rem);
  position: absolute !important;
  height: .0625rem;
  width: .0625rem;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: hsl(0, 0%, 95%);
  border-radius: .1875rem;
  box-shadow: 0 0 .125rem .125rem rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: hsl(199, 65%, 37%);
  display: block;
  font-size: .875rem;
  font-weight: bold;
  height: auto;
  left: .3125rem;
  line-height: normal;
  padding: .9375rem 1.4375rem .875rem;
  text-decoration: none;
  top: .3125rem;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* CSS reset template adapted from https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8274400#overview & https://www.linkedin.com/learning/css-advanced-layouts-with-grid */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5;
  color: hsl(245, 6%, 54%);
  background-color: hsl(26, 100%, 99%);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Fraunces, serif;
  color: hsl(214, 24%, 19%);
  clear: both;
}

b,
strong {
  font-weight: bold;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 10vw;
  line-height: 1.8;
  margin-bottom: 1.125rem;
  font-size: 1.1rem;
}

address {
  margin: 0 0 1.5em;
}

pre {
  display: inline-block;
  font-family: "Courier 10 Pitch", Courier, monospace;
  color: hsl(48, 58%, 68%);
  background: hsl(220, 13%, 18%);
  padding: .5em .8em;
  border-radius: .2em;
}

code,
kbd,
tt,
var {
  font: .9375rem Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: .0625rem dotted #666;
  cursor: help;
}

mark,
ins {
  background: hsl(54, 100%, 88%);
  text-decoration: none;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: .5ex;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

figure {
  margin: 0;
}

/* Global styles */

h1,
h3,
h4 {
  text-align: center;
  padding: 1em 0;
  margin: 0;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-weight: 900;
  font-size: .975rem;
  margin-top: 3.75rem;
  padding-bottom: 1.5rem;
}

h5 {
  font-size: 1.1rem;
  letter-spacing: .0175rem;
}

h4,
h6 {
  color: hsl(260, 5%, 65%);
}

h6 {
  font-size: .9rem;
}

h2,
h3,
h5 {
  font-weight: 900;
  line-height: 1.15;
  padding: 1rem 0 1.33rem;
  position: relative;
}

h2 {
  font-size: 2rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

p {
  margin-bottom: 2.2rem;
  line-height: 1.7;
  color: hsl(260, 5%, 65%);
  padding-left: .5rem;
  padding-right: .5rem;
}

a {
  text-decoration: none;
}

figure {
  height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

img:not(.profiler, .logo, .logo-cyan) {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

header {
  height: 79vh;
  background-image: url(../images/image-header.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

footer {
  height: 60vh;
  background-color: hsl(167, 44%, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* Media Query */

/* small mobile */

@media screen and (max-width: 360px) {

  figure {
    margin-bottom: 2.5rem;
  }

}

/* Pseudo-element selector workaround to handle fixed navbar encroaching into anchor link areas - as suggested here: https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors */
:target::before {
  content: "";
  display: block;
  height: 4.15rem;
  /* fixed header height*/
  margin: -4.15rem 0 0;
  /* negative fixed header height */
}

/* Buttons */

.btn {
  padding: 1rem 1.85rem;
  text-transform: uppercase;
  font-family: Fraunces, serif;
  color: hsl(214, 24%, 19%);
  font-size: .95rem;
  border-radius: 5rem;
  font-weight: 900;
  letter-spacing: -.0125rem;
}

.btn-contact {
  background-color: hsl(51, 100%, 49%);
  color: hsl(214, 24%, 19%);
  transition: all .125s ease-in-out;
}

.btn-contact:hover,
.btn-contact:focus {
  color: hsla(0, 0%, 100%, 95%);
}

.btn-contact:hover {
  background-color: hsl(200, 100%, 72%);
}

.btn-contact:focus {
  background-color: hsl(200, 100%, 45%);
}

/* Back-to-top button */

#btn-back-to-top {
  position: fixed;
  bottom: -.5rem;
  right: .9rem;
  z-index: 98;
  font-size: 3.5rem;
  color: hsl(168, 34%, 41%);
  display: none;
}

#btn-back-to-top:hover {
  color: hsl(47, 58%, 56%);
}

/* Code block adapted from https://bbbootstrap.com/snippets/simple-back-top-smooth-scroll-17111555 */

.js .cd-top--fade-out {
  opacity: .5
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
}

/* Navbar */

.navbar {
  background-color: hsl(200, 100%, 62%);
  width: 100%;
  color: hsl(0, 0%, 100%);
  padding: 1.375rem 1.25rem;
  position: relative;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 4.25rem;
}

.logo {
  width: 7.5rem;
}

.navbar-toggler {
  position: absolute;
  top: 1.5rem;
  right: 1.25rem;
  border: none;
}

.navbar-toggler-icon {
  width: 1.75rem;
  height: 1.25rem;
  color: hsl(26, 100%, 99%);
  background-color: hsl(200, 100%, 62%);
}

.triangle {
  width: 0;
  height: 0;
}

.triangle-left {
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-right: 1.5rem solid hsl(0, 0%, 96%);
  position: absolute;
  right: 0;
  top: -1.35rem;
}

.navbar-nav {
  background-color: hsl(0, 0%, 96%);
  text-align: center;
  padding: 2rem .5rem 1.5rem;
  position: absolute;
  top: 4.25rem;
  height: 48vh;
  min-height: 20rem;
  left: 100%;
  display: block;
  width: calc(100% - 2.5rem);
  box-shadow: 0 .25rem .25rem .25rem rgba(164, 161, 170, .25);
  -webkit-box-shadow: 0 .25rem .25rem .25rem rgba(164, 161, 170, .25);
  -moz-box-shadow: 0 .25rem .25rem .25rem rgba(164, 161, 170, .25);
}

.navbar-nav,
.footer-nav,
.footer-nav-social {
  list-style-type: none;
}

.triangle-left,
.navbar-nav {
  transition: all .25s;
}

.navbar-nav.show {
  left: 1.25rem;
}

.nav-item:not(.nav-item-contact) {
  margin: 1.125rem 0 1.625rem;
}

.nav-item-contact {
  margin: 2.25rem 0;
}

.nav-link:not(.btn) {
  color: hsl(260, 5%, 65%);
  width: 100%;
  height: 100%;
  display: block;
}

/* Header */

.heading-slogan {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  color: hsl(0, 0%, 100%);
  letter-spacing: .35rem;
  padding-top: 8rem;
  line-height: 1.25;
  padding-left: 6vw;
  padding-right: 6vw;
}

/* Media Query */

/* small mobile */

@media screen and (max-width: 360px) {

  .heading-slogan {
    font-size: 2.15rem;
  }

}

.arrow-box {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bobbing 2s 2.5s ease-in-out infinite;
}

/* Main */

/* About section */

.about-section-image {
  height: 47.5vh;
  background-size: cover;
  background-position: center;
}

.brand-image {
  background-image: url(../images/image-transform.jpg);
}

.audience-image {
  background-image: url(../images/image-stand-out.jpg);
}

.about-section-text {
  height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1rem 2rem;
  position: relative;
}

.about-section-text p {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 1rem;
  line-height: 1.6;
}

.learn-more {
  font-family: Fraunces, serif;
  color: hsl(214, 24%, 19%);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .025rem;
  font-weight: 900;
  background-position: bottom;
  background-size: 100% 40%;
  background-repeat: no-repeat;
  padding-left: .33rem;
  padding-right: .33rem;
}

/* custom text underline code block adapted from https://plantpot.works/2793 */

.brand-text .learn-more {
  background-image: linear-gradient(90deg, hsla(51, 100%, 49%, .25), hsla(51, 100%, 49%, .25));
}

.brand-text .learn-more:hover {
  background-image: linear-gradient(90deg, hsla(51, 90%, 52%, .65), hsla(51, 90%, 52%, .65));
}

.brand-text .learn-more:focus {
  background-image: linear-gradient(90deg, hsla(51, 90%, 52%, .99), hsla(51, 90%, 52%, .99));
}

.audience-text .learn-more {
  background-image: linear-gradient(90deg, hsla(7, 99%, 70%, .25), hsla(7, 99%, 70%, .25));
}

.audience-text .learn-more:hover {
  background-image: linear-gradient(90deg, hsla(7, 99%, 70%, .65), hsla(7, 99%, 70%, .65));
}

.audience-text .learn-more:focus {
  background-image: linear-gradient(90deg, hsla(7, 99%, 70%, .99), hsla(7, 99%, 70%, .99));
}

/* Media Query */

/* small mobile */

@media screen and (max-width: 360px) {

  h2 {
    font-size: 1.75rem;
  }

  .about-section-text p {
    font-size: 1rem;
    line-height: 1.5;
  }

}

/* Services section */

.services-section {
  position: relative;
}

.services-section-image {
  height: calc(100vh - 4.15rem);
  background-size: cover;
  background-position: center;
}

.design-image {
  background-image: url(../images/image-graphic-design.jpg);
}

.photog-image {
  background-image: url(../images/image-photography.jpg);
}

.services-section-text {
  position: absolute;
  bottom: 3.5vh;
  left: 0;
  text-align: center;
}

.services-section-text p {
  font-size: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.design-text p,
.design-text h3 {
  color: hsl(167, 40%, 24%);
}

.photog-text p,
.photog-text h3 {
  color: hsl(198, 62%, 26%);
}

/* Client Testimonials section */

#clients {
  padding-bottom: 2.75rem;
}

.profiler {
  border-radius: 50%;
  margin-bottom: 2.25rem;
}

.client {
  padding-bottom: .75rem;
}

/* Image gallery */

#gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-section {
  width: 50%;
  height: 50vw;
  max-height: 15rem;
  background-size: cover;
  background-position: center;
}

.gallery-section:first-of-type {
  background-image: url(../images/image-gallery-milkbottles.jpg);
}

.gallery-section:nth-of-type(2) {
  background-image: url(../images/image-gallery-orange.jpg);
}

.gallery-section:nth-of-type(3) {
  background-image: url(../images/image-gallery-cone.jpg);
}

.gallery-section:nth-of-type(4) {
  background-image: url(../images/image-gallery-sugar-cubes.jpg);
}

/* Footer */

.footer-logo {
  margin-bottom: 1rem;
  position: relative;
  top: -2rem;
}

.logo-cyan {
  width: 11rem;
}

.footer-nav,
.footer-nav-social {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.footer-nav {
  width: 80%;
  margin-bottom: 1rem;
  top: -2.25rem;
}

.footer-nav-social {
  width: 44%;
  top: -1.75rem;
}

.footer-nav .nav-link,
.footer-nav-social .nav-link {
  color: hsl(168, 34%, 41%);
  font-size: 1.025rem;
  transition: all .125s ease-in-out;
}

.footer-nav .nav-link {
  font-size: 1.025rem;
}

.footer-nav-social .nav-link {
  font-size: 1.5rem;
}

.footer-nav .nav-link:hover,
.footer-nav-social .nav-link:hover {
  color: hsla(0, 0%, 100%, 85%);
}

.footer-nav .nav-link:focus,
.footer-nav-social .nav-link:focus {
  color: hsla(0, 0%, 100%, 99%);
}

.ltd-link,
.fm-link {
  transition: all .125s ease-in-out;
}

.ltd-link:hover {
  color: hsl(184, 100%, 19%);
}

.fm-link:hover {
  color: hsl(188, 36%, 52%);
}

.ltd-link:focus {
  color: hsl(185, 100%, 15%);
}

.fm-link:focus {
  color: hsl(188, 36%, 40%);
}

/* Attribution notes */

.attribution {
  font-size: .75rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: hsl(168, 34%, 41%);
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

.attribution p {
  margin-bottom: 0;
  color: hsl(168, 34%, 41%);
}

.attribution a {
  color: #fff;
}

/* Animations */

@keyframes bobbing {

  0% {
    top: 60%;
  }

  50% {
    top: 65%;
  }

  100% {
    top: 60%;
  }

}

/* Media Queries */

/* large mobile/small tablet */

@media screen and (min-width: 600px) {

  /* Global styles */

  h2 {
    padding-top: .5rem;
    max-width: 25rem;
  }

  blockquote {
    margin: 0 15vw;
  }

  header {
    background-image: url(../images/image-header-lg.jpg);
  }

  /* Header */

  .heading-slogan {
    padding-top: 4.5rem;
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .arrow-box {
    top: 49%;
  }

  /* Main */

  /* About section */

  .brand-image {
    background-image: url(../images/image-transform-lg.jpg);
  }

  .audience-image {
    background-image: url(../images/image-stand-out-lg.jpg);
  }

  .about-section-image {
    height: 57vh;
  }

  .about-section-text {
    height: 55.5vh;
    padding: 1rem 2rem 2rem;
  }

  .about-section-text p {
    max-width: 40rem;
  }

  /* Services section */

  .design-image {
    background-image: url(../images/image-graphic-design-lg.jpg);
  }

  .photog-image {
    background-image: url(../images/image-photography-lg.jpg);
  }

  .services-section-text {
    left: calc((100% - 30rem) / 2);
  }

  .services-section-text p {
    max-width: 30rem;
  }

  /* Image gallery */

  #gallery {
    flex-wrap: nowrap;
  }

  /* Footer */

  .footer-nav {
    width: 36%;
  }

  /* Animations */

  @keyframes bobbing {

    0% {
      top: 49%;
    }

    50% {
      top: 54%;
    }

    100% {
      top: 49%;
    }

  }
}

/* medium tablet screens */

@media screen and (min-width: 768px) {

  /* Global styles */

  h2 {
    font-size: 3vw;
    padding-bottom: 1.1rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    padding-bottom: 0;
  }

  h5 {
    font-size: .95rem;
  }

  h6 {
    font-size: .75rem;
  }

  blockquote {
    font-size: .825rem;
    line-height: 1.7;
    margin: 0 .6rem 1.5rem;
  }

  figure {
    height: 74%;
    width: calc(100% / 3);
    justify-content: space-between;
  }

  figcaption {
    position: relative;
    top: -1rem;
    margin-bottom: 1rem;
  }

  footer {
    height: calc(66.666vw - 15rem);
    min-height: 22rem;
    padding: 2rem 3rem;
  }

  /* Navbar */

  .fixed-top {
    position: unset;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-nav {
    min-height: unset;
    background-color: transparent;
    text-align: center;
    padding: unset;
    top: 0;
    right: 0;
    height: unset;
    left: unset;
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 12rem);
    box-shadow: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
  }

  .triangle {
    display: none;
  }

  .nav-item:not(.nav-item-contact) {
    margin: 1.6rem .85rem;
  }

  .nav-item-contact {
    margin: 1.1rem 1.5rem 1rem 1rem;
  }

  .navbar-nav .nav-link:not(.btn) {
    color: hsla(0, 0%, 100%, 75%);
    font-size: .8rem;
  }

  .btn-contact {
    background-color: hsla(0, 0%, 100%, 95%);
    font-size: .65rem;
    padding: .7rem 1.15rem;
  }

  /* Header */

  .heading-slogan {
    padding-top: 20vh;
  }

  .arrow-box {
    top: 34vh;
  }

  /* Main */

  /* About section */

  #about {
    font-size: 1.6vw;
  }

  #about p {
    line-height: 1.6;
    padding-left: unset;
    padding-right: unset;
    margin-bottom: 1.25rem;
  }

  .about-section {
    height: 50vh;
    display: flex;
  }

  .about-section>* {
    height: unset;
  }

  .about-section-text {
    padding: 2.5rem 1.6rem 3.5rem;
    max-height: unset;
  }

  .about-section-image {
    max-height: unset;
  }

  .about-section-text {
    width: 40%;
  }

  .about-section-image {
    width: 60%;
  }

  .brand-text {
    order: 1;
  }

  .brand-image {
    order: 2;
  }

  .learn-more {
    font-size: 1.6vw;
  }

  /* Services section */

  #services {
    display: flex;
  }

  .services-section {
    width: 50%;
    height: 80vh;
    max-height: 34.5rem;
  }

  .services-section-image {
    height: 100%;
    background-position: top;
  }

  .services-section-text {
    padding: 1rem 3rem;
    bottom: 2vh;
    left: unset;
    width: 100%;
  }

  .services-section-text p {
    font-size: .925rem;
    padding-left: unset;
    padding-right: unset;
    max-width: 22.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* background-image rotation implemented with help from the following tutorial: https://www.sitepoint.com/css3-transform-background-image/ */

  .design-image {
    position: relative;
    background-image: unset;
    overflow: hidden;
  }

  .design-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url(../images/image-graphic-design.jpg) center no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
  }

  .design-text {
    top: 3.5vh;
  }

  /* Client Testimonials section */

  figure:first-of-type,
  figure:nth-of-type(3) {
    width: 32.25%;
  }

  figure:nth-of-type(2) {
    width: 35.5%;
  }

  #clients {
    height: calc(133vw - 34.5rem);
    max-height: 33rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 84vw;
    margin: 0 auto;
    padding-bottom: 5rem;
  }

  .testimonials-heading {
    width: 100%;
  }

  .profiler {
    width: 3rem;
    height: 3rem;
    margin: 2.5rem 0 .5rem;
  }

  /* Footer */

  .footer-logo {
    top: unset;
  }

  .footer-nav {
    width: 45%;
    top: -1rem;
  }

  .footer-nav-social {
    top: -2.5rem;
    width: 50%;
  }

  .footer-nav .nav-link {
    color: hsl(168, 34%, 41%);
    font-size: .9rem;
  }

  .footer-nav-social .nav-link {
    font-size: 1.4rem;
  }

  .footer-nav-social .nav-link img {
    width: 80%;
  }

  /* Animations */

  @keyframes bobbing {

    0% {
      top: 34vh;
    }

    50% {
      top: 39vh;
    }

    100% {
      top: 34vh;
    }

  }

  /*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
  /* Layout with CSS Grid */
  @supports (grid-area: auto) {

    :target::before {
      display: none;
    }

    #clients {
      display: grid;
      grid-template-columns: 32.25% 35.5% 32.25%;
      grid-template-rows: 26% 74%;
      max-width: 87vw;
      margin: 0 auto;
      padding-bottom: 5rem;
    }

    .testimonials-heading {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    figure:first-of-type,
    figure:nth-of-type(3),
    figure:nth-of-type(2) {
      width: unset;
      height: unset;
    }

    .client {
      padding: .5rem 0 .35rem;
    }

  }

}

/* small laptop screens */

@media screen and (min-width: 992px) {

  /* Global styles */

  h2 {
    font-size: 2.75vw;
    padding-bottom: 2vw;
    padding-right: 5vw;
    padding-left: unset;
    max-width: unset;
  }

  h3 {
    font-size: 2.25vw;
  }

  h4 {
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  h5 {
    font-size: 1.25vw;
  }

  h6 {
    font-size: 1vw;
  }

  figure {
    justify-content: flex-start;
    padding-top: 6vh;
  }

  blockquote {
    font-size: 1.25vw;
    margin-bottom: 8vh;
    line-height: 1.9;
  }

  header {
    background-image: url(../images/image-header-lg.jpg);
    height: 80vh;
    max-height: 44rem;
  }

  footer {
    height: 45vh;
    justify-content: space-between;
    padding-bottom: 10vh;
  }

  /* Buttons */

  .btn-contact {
    padding: 1.25vw 2.22222vw;
  }

  /* Navbar */

  .fixed-top {
    height: unset;
    height: 5rem;
    line-height: 5rem;
  }

  .navbar-logo {
    height: 5rem;
    display: inline-block;
    position: absolute;
    top: 0;
    line-height: 5rem;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 11.5vw;
  }

  .navbar-nav {
    right: 1.5vw;
  }

  .nav-item:not(.nav-item-contact) {
    margin: 0 1.5vw;
  }

  .nav-item-contact {
    margin: 0 0 0 1.5vw;
    font-size: 1rem;
  }

  .nav-link,
  .nav-link:not(.btn) {
    font-size: unset;
  }

  .navbar-nav .nav-link:not(.btn) {
    font-size: .95rem;
  }

  .nav-link {
    font-size: .85rem;
  }

  /* Header */

  .heading-slogan {
    padding-top: 10vh;
    font-size: 3.5vw;
    letter-spacing: .7rem;
  }

  .arrow-box {
    top: 35.75vh;
  }

  /* Main */

  /* About section */

  #about {
    font-size: 1.25vw;
  }

  #about p {
    line-height: 1.7;
    padding-left: 0;
    padding-right: 0;
    padding-right: 3vw;
    margin-bottom: 3vw;
  }

  #about .audience-text p {
    padding-right: 7vw;
  }

  .about-section,
  .services-section {
    height: 42vw;
    max-height: 40rem;
  }

  .about-section-image,
  .about-section-text {
    width: 50%;
  }

  .about-section-text {
    text-align: left;
    padding-left: 10vw;
    padding-right: 3vw;
    align-items: flex-start;
  }

  #about .audience-text {
    padding-left: 8vw;
  }

  .brand-image {
    background-image: url(../images/image-transform-lg.jpg);
  }

  .audience-image {
    background-image: url(../images/image-stand-out-lg.jpg);
  }

  .learn-more {
    font-size: 1.125vw;
  }

  /* Services section */

  .design-image::before {
    background-image: url(../images/image-graphic-design-lg.jpg);
  }

  .photog-image {
    background-image: url(../images/image-photography-lg.jpg);
  }

  .services-section-text p {
    font-size: .9rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: unset;
  }

  .design-text {
    top: 5vh;
  }

  /* Client Testimonials section */

  #clients {
    height: 86vh;
    max-width: 80vw;
    max-height: 50rem;
    grid-template-rows: 20% 80%;
  }

  .profiler {
    width: 5vw;
    height: 5vw;
    margin: 2.5rem 0 6vh;
  }

  figure:nth-of-type(2)>blockquote {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .client {
    padding-bottom: 1vw;
  }

  /* Image gallery */

  .gallery-section {
    height: 50vh;
    max-height: unset;
  }

  .gallery-section:first-of-type {
    background-image: url(../images/image-gallery-milkbottles-lg.jpg);
  }

  .gallery-section:nth-of-type(2) {
    background-image: url(../images/image-gallery-orange-lg.jpg);
  }

  .gallery-section:nth-of-type(3) {
    background-image: url(../images/image-gallery-cone-lg.jpg);
  }

  .gallery-section:nth-of-type(4) {
    background-image: url(../images/image-gallery-sugarcubes-lg.jpg);
  }

  /* Footer */

  .footer-nav {
    margin-bottom: 4vw;
    width: 21rem;
  }

  .footer-nav-social {
    width: 15rem;
  }

  .footer-nav-social .nav-item {
    margin: 0 1vw;
  }

  .footer-nav-social .nav-link img {
    width: 100%;
  }

  .logo-cyan {
    width: 12.5vw;
  }

  .footer-logo {
    margin-top: 2.5vh;
    margin-bottom: 0;
  }

  /*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
  /* Layout with CSS Grid */
  @supports (grid-area: auto) {}

}

/* large laptop screens */

@media screen and (min-width: 1200px) {

  /* Global styles */

  footer {
    min-height: 20.5rem;
  }

  /* Services section */

  .services-section-text p {
    font-size: 1rem;
    width: 70%;
  }

  /* Client Testimonials section */

  #clients {
    min-height: 35rem;
  }

  /* Image gallery */

  .gallery-section {
    height: 45vh;
  }

}